.pipeline-column {
    flex: 1;
    min-width: 250px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 160px); /* Ajuste considerando Header + Bottom */
}

.pipeline-header {
    background-color: var(--primary-color);
    color: white;
    padding: 12px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 18px;
    text-align: center;
}

.pipeline-content {
    padding: 8px;
    flex: 1;
    overflow-y: auto;
}

.pipeline-card {
    background-color: white;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    cursor: grab;
    transition: transform 0.2s ease;
}

.pipeline-card:active {
    cursor: grabbing;
    transform: scale(1.02);
}

.pipeline-card:hover {
    background-color: #f1f1f1;
}